
body {
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%) ;
    background-repeat: no-repeat;
    line-height: 1.6;
    font-family:'Roboto', sans-serif;
    font-size: 17px;


}

body {
    display: block;
    margin: 8px;
}

h1, h2 {
  color: #1c67D2;

}

img {
  transition: transform 0.3s;
}

img:hover {
  transform: scale(1.05);
}

i {
  transition: transform 0.5s;
  color: #1c67D2;
  font-size: 25px;
  margin: 0 5px;
}

i:hover {
  transform: scale(0.9);
  color: #7d5fff;
  font-size: 25px;
  margin: 0 5px;
}

.container {
  width: 400px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.img-circle {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.card-white {
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
  margin-top: 1em;
  box-shadow: 3px 3px 1px 1px rgba(0, 0, 255, .1);
  border-radius: 5px;
}

.card-white2 {
  background: white;
  height: 120px;
  padding: 10px;
  border: 1px solid lightgrey;
  margin-top: 1em;
  box-shadow: 3px 3px 1px 1px rgba(0, 0, 255, .1);
  border-radius: 5px;
}

li {
  display: inline-block;
  margin: 0 3px;
}

ul {
    padding: 0;
    list-style-type: none;
}

p {
  font-size: 15px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
